dm.mobile/.classpath
dm.mobile/.project
dm.mobile/.settings
dm.mobile/target
dm/.classpath
dm/.project
dm/.settings
dm/target
handler.gui/.classpath
handler.gui/.project
handler.gui/.settings
handler.gui/target
handler.web/.classpath
handler.web/.project
handler.web/.settings
handler.web/target
pom/.classpath
pom/.project
pom/.settings
pom/target
security.authorizator/.classpath
security.authorizator/.project
security.authorizator/.settings
security.authorizator/target
ui.handler.sms/.classpath
ui.handler.sms/.project
ui.handler.sms/target
