* text=auto !eol
ui.dm/ASL2.0.txt -text
ui.dm/LICENSE-CPL-JUnit.txt -text
ui.dm/NOTICE.txt -text
ui.dm/pom.xml -text
ui.dm/src/main/java/org/universAAL/ui/dm/DMServiceCaller.java -text svneol=unset#text/plain
ui.dm/src/main/java/org/universAAL/ui/dm/DialogManagerImpl.java -text
ui.dm/src/main/java/org/universAAL/ui/dm/LocalizedMessagesURLProvider.java -text
ui.dm/src/main/java/org/universAAL/ui/dm/UserDialogManager.java -text
ui.dm/src/main/java/org/universAAL/ui/dm/adapters/AdapterDialogPrivacyLevel.java -text
ui.dm/src/main/java/org/universAAL/ui/dm/adapters/AdapterMessageInternationalization.java -text svneol=unset#text/plain
ui.dm/src/main/java/org/universAAL/ui/dm/adapters/AdapterUIPreferences.java -text
ui.dm/src/main/java/org/universAAL/ui/dm/adapters/AdapterUserImpairments.java -text
ui.dm/src/main/java/org/universAAL/ui/dm/adapters/AdapterUserLocation.java -text
ui.dm/src/main/java/org/universAAL/ui/dm/dialogManagement/DialogPoolCopier.java -text svneol=unset#text/plain
ui.dm/src/main/java/org/universAAL/ui/dm/dialogManagement/DialogPoolFileStorage.java -text svneol=unset#text/plain
ui.dm/src/main/java/org/universAAL/ui/dm/dialogManagement/DialogPriorityQueue.java -text svneol=unset#text/plain
ui.dm/src/main/java/org/universAAL/ui/dm/dialogManagement/DialogPriorityQueueVerbosity.java -text svneol=unset#text/plain
ui.dm/src/main/java/org/universAAL/ui/dm/dialogManagement/NonRedundantDialogPriorityQueue.java -text svneol=unset#text/plain
ui.dm/src/main/java/org/universAAL/ui/dm/dialogManagement/UIRequestPriorityComparator.java -text svneol=unset#text/plain
ui.dm/src/main/java/org/universAAL/ui/dm/interfaces/IAdapter.java -text
ui.dm/src/main/java/org/universAAL/ui/dm/interfaces/IDialogBuilder.java -text
ui.dm/src/main/java/org/universAAL/ui/dm/interfaces/IMainMenuProvider.java -text
ui.dm/src/main/java/org/universAAL/ui/dm/interfaces/ISubmitGroupListener.java -text
ui.dm/src/main/java/org/universAAL/ui/dm/interfaces/ISystemMenuProvider.java -text
ui.dm/src/main/java/org/universAAL/ui/dm/interfaces/IUIPreferencesBuffer.java -text svneol=unset#text/plain
ui.dm/src/main/java/org/universAAL/ui/dm/interfaces/IUIPreferencesChangeListener.java -text svneol=unset#text/plain
ui.dm/src/main/java/org/universAAL/ui/dm/interfaces/IUIRequestPool.java -text
ui.dm/src/main/java/org/universAAL/ui/dm/interfaces/IUIRequestStore.java -text svneol=unset#text/plain
ui.dm/src/main/java/org/universAAL/ui/dm/osgi/DialogManagerActivator.java -text
ui.dm/src/main/java/org/universAAL/ui/dm/ui/preferences/buffer/UIPreferencesBufferNoUpdate.java -text svneol=unset#text/plain
ui.dm/src/main/java/org/universAAL/ui/dm/ui/preferences/buffer/UIPreferencesBufferPoller.java -text
ui.dm/src/main/java/org/universAAL/ui/dm/ui/preferences/buffer/UIPreferencesBufferSubscriptor.java -text svneol=unset#text/plain
ui.dm/src/main/java/org/universAAL/ui/dm/ui/preferences/buffer/UISubprofileInitializator.java -text
ui.dm/src/main/java/org/universAAL/ui/dm/ui/preferences/caller/helpers/UIPreferencesSubprofileHelper.java -text
ui.dm/src/main/java/org/universAAL/ui/dm/ui/preferences/caller/helpers/UIPreferencesSubprofilePrerequisitesHelper.java -text
ui.dm/src/main/java/org/universAAL/ui/dm/ui/preferences/editor/UIPreferencesDialogBuilder.java -text
ui.dm/src/main/java/org/universAAL/ui/dm/ui/preferences/editor/UIPreferencesProvidedService.java -text
ui.dm/src/main/java/org/universAAL/ui/dm/ui/preferences/editor/UIPreferencesSCallee.java -text
ui.dm/src/main/java/org/universAAL/ui/dm/ui/preferences/editor/UIPreferencesUICaller.java -text
ui.dm/src/main/java/org/universAAL/ui/dm/userInteraction/MessageConstants.java -text svneol=unset#text/plain
ui.dm/src/main/java/org/universAAL/ui/dm/userInteraction/PendingDialogBuilder.java -text
ui.dm/src/main/java/org/universAAL/ui/dm/userInteraction/PendingDialogBuilderWithSubmits.java -text svneol=unset#text/plain
ui.dm/src/main/java/org/universAAL/ui/dm/userInteraction/mainMenu/AggregatedMainMenuProvider.java -text svneol=unset#text/plain
ui.dm/src/main/java/org/universAAL/ui/dm/userInteraction/mainMenu/AllMainMenuProvider.java -text
ui.dm/src/main/java/org/universAAL/ui/dm/userInteraction/mainMenu/SearchableAggregatedMainMenuProvider.java -text svneol=unset#text/plain
ui.dm/src/main/java/org/universAAL/ui/dm/userInteraction/mainMenu/UIServiceResponseNotifyer.java -text svneol=unset#text/plain
ui.dm/src/main/java/org/universAAL/ui/dm/userInteraction/mainMenu/file/FileMainMenuProvider.java -text svneol=unset#text/plain
ui.dm/src/main/java/org/universAAL/ui/dm/userInteraction/mainMenu/file/MainMenu.java -text svneol=unset#text/plain
ui.dm/src/main/java/org/universAAL/ui/dm/userInteraction/mainMenu/file/MenuNode.java -text svneol=unset#text/plain
ui.dm/src/main/java/org/universAAL/ui/dm/userInteraction/mainMenu/profilable/ProfilableFileMainMenuProvider.java -text
ui.dm/src/main/java/org/universAAL/ui/dm/userInteraction/mainMenu/profilable/RDFMainMenu.java -text
ui.dm/src/main/java/org/universAAL/ui/dm/userInteraction/mainMenu/profilable/RDFMenuNode.java -text
ui.dm/src/main/java/org/universAAL/ui/dm/userInteraction/mainMenu/profilable/SCallee.java -text
ui.dm/src/main/java/org/universAAL/ui/dm/userInteraction/messageManagement/MessageListener.java -text
ui.dm/src/main/java/org/universAAL/ui/dm/userInteraction/messageManagement/PendingMessageBuilder.java -text
ui.dm/src/main/java/org/universAAL/ui/dm/userInteraction/systemMenu/ClassicSystemMenuProvider.java -text svneol=unset#text/plain
ui.dm/src/main/java/org/universAAL/ui/dm/userInteraction/systemMenu/SmartPendingSystemMenuProvider.java -text svneol=unset#text/plain
ui.dm/src/main/java/org/universAAL/ui/dm/userInteraction/systemMenu/TaskBarSystemMenuProvider.java -text svneol=unset#text/plain
ui.dm/src/main/resources/messages.properties -text
ui.dm/src/test/java/org/universAAL/ui/dm/tests/DialogPoolCopierTest.java -text svneol=unset#text/plain
ui.dm/src/test/java/org/universAAL/ui/dm/tests/DialogPoolFileStorageTest.java -text svneol=unset#text/plain
ui.dm/src/test/java/org/universAAL/ui/dm/tests/DialogPriorityQueueTest.java -text svneol=unset#text/plain
ui.dm/src/test/java/org/universAAL/ui/dm/tests/MainMenuTest.java -text svneol=unset#text/plain
ui.dm/src/test/java/org/universAAL/ui/dm/tests/ProfMainMenuTest.java -text svneol=unset#text/plain
ui.dm/src/test/java/org/universAAL/ui/dm/tests/UIRequestPoolTest.java -text svneol=unset#text/plain
ui.dm/src/test/resources/main_menu_en.txt -text svneol=unset#text/plain
ui.dm/src/test/resources/prof_main_menu.txt -text svneol=unset#text/plain
ui.internationalization.util/ASL2.0.txt -text svneol=unset#text/plain
ui.internationalization.util/NOTICE.txt -text svneol=unset#text/plain
ui.internationalization.util/pom.xml -text
ui.internationalization.util/src/main/java/org/universAAL/ui/internationalization/util/MessageLocaleHelper.java -text
ui.internationalization.util/src/test/java/org/universAAL/ui/internationalizaion/tests/TestSearch.java -text svneol=unset#text/plain
ui.internationalization.util/src/test/resources/loc1/messages.properties -text svneol=unset#text/plain
ui.internationalization.util/src/test/resources/loc1/messages_en.properties -text svneol=unset#text/plain
ui.internationalization.util/src/test/resources/loc1/messages_es.properties -text svneol=unset#text/plain
ui.internationalization.util/src/test/resources/loc2/messages.properties -text svneol=unset#text/plain
ui.internationalization.util/src/test/resources/loc2/messages_es.properties -text svneol=unset#text/plain
ui.internationalization.util/src/test/resources/loc3/messages.properties -text svneol=unset#text/plain
ui.pom/pom.xml -text
ui.pom/ui.karaf.feature/ASL2.0.txt -text
ui.pom/ui.karaf.feature/NOTICE.txt -text
ui.pom/ui.karaf.feature/pom.xml -text
ui.pom/ui.karaf.feature/src/features/features.xml -text
